<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring MVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_MVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring MVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring MVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.2.5.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.2.5.RELEASE" />
          <element id="library" level="project" name="Hibernate 4.2.2-4.2.2" />
          <element id="library" level="project" name="Hibernate Validator-5.0.1" />
          <element id="library" level="project" name="com.fasterxml.jackson.core:jackson-databind:2.6.4" />
          <element id="library" level="project" name="mysql-connector-java-5.1.6" />
          <element id="library" level="application" name="eclipselink-2.2.0" />
          <element id="library" level="project" name="aopalliance-1.0" />
          <element id="library" level="application" name="jstl 2" />
          <element id="library" level="project" name="mangopay2-java-sdk-1.0.6" />
          <element id="library" level="application" name="common-lang3 (2)" />
          <element id="library" level="project" name="jackson-all-1.9.0 (2)" />
          <element id="library" level="project" name="jstl-1.2" />
          <element id="library" level="project" name="junit-4.4" />
        </element>
      </element>
    </root>
  </artifact>
</component>